
<form #bookR = "ngForm" class="frmBook" name="frmBook" [formGroup]="hbForm" (ngSubmit)="bookRoom(bookR.value)" >
    <fieldset>
        <legend>Information</legend>
        <h4 *ngIf="success">Done...</h4>
        {{ roomInfo }}
    </fieldset>
    <mat-form-field class="inpBook">
      <input type="text" matInput placeholder="Name" formControlName="nameN" id="nameN" name="nameN" [(ngModel)]="contactName" required>
      <div *ngIf="submitted && fld.nameN.errors" class="error">
          <div *ngIf="fld.nameN.errors.required">Name is required</div>
      </div>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="text" matInput placeholder="Surname" formControlName="surnameN" id="surnameN" name="surnameN" [(ngModel)]="surname" required>
        <div *ngIf="submitted && fld.surnameN.errors" class="error">
            <div *ngIf="fld.surnameN.errors.required">Surname is required.</div>
        </div>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="email" matInput placeholder="Email" formControlName="emailN" id="emailN" name="emailN" [(ngModel)]="email" required>
        <div *ngIf="submitted && fld.emailN.errors" class="error">
            <div *ngIf="fld.emailN.errors.required">Email is required.</div>
        </div>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="number" matInput placeholder="Room Number" formControlName="roomN" id="roomN" name="roomN" min="1" max="12" [(ngModel)]="room" required>
        <div *ngIf="submitted && fld.roomN.errors" class="error">
            <div *ngIf="fld.roomN.errors.required">Room# is required.</div>
        </div>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="text" matInput placeholder="date captured" value="{{ dateCap | date: 'yyyy/M/dd' }}" id="dateCap2" name="dateCap2" readonly>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="text" matInput placeholder="book date" value="{{ bookDate | date: 'yyyy/M/dd' }}" id="bdate2" name="bdate2" readonly>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input id="inRoomD" name="inRoomD" matInput [matDatepicker]="pickerAb" placeholder="Choose a date" formControlName="dateN" [(ngModel)]="bookDate" required>
        <mat-datepicker-toggle matSuffix [for]="pickerAb"></mat-datepicker-toggle>
        <mat-datepicker #pickerAb></mat-datepicker>
        <div *ngIf="submitted && fld.dateN.errors" class="error">
            <div *ngIf="fld.dateN.errors.required">Date is required.</div>
        </div>
    </mat-form-field>
    <mat-form-field class="inpBook">
        <input type="number" matInput placeholder="Period" formControlName="nightsN" id="nightsN" name="nightsN" min="1" max="31" [(ngModel)]="nights" required>
        <div *ngIf="submitted && fld.nightsN.errors" class="error">
            <div *ngIf="fld.nightsN.errors.required">Period# is required.</div>
        </div>
    </mat-form-field>
    <div class="inpBook">
        <input type="submit" id="btnOK" value="OK" />
    </div>
</form>
<hr>
<div class="infC">
    <input type="button" id="btnReset" value="Reset" (click)="reset()" />
    <ol>
        <li *ngFor="let bookedG of roomBookings">
            -- roomId: {{ bookedG.room }}
            -- date: {{ bookedG.date }}
            -- guestRef: {{ bookedG.id }}
            -- guestName: {{ bookedG.name }}
            -- period: {{ bookedG.nights }}
        </li>
    </ol>
</div>
<div class="infoD">
    <ol>
        <li *ngFor="let bookedR of dbBookings">
            -- roomId: {{ bookedR.roomId }}
            -- date: {{ bookedR.date }}
            -- guestRef: {{ bookedR.guestId }}
        </li>
    </ol>
</div>
