
<h1>Booked Rooms</h1>
<div class="info">
    {{ guestInfo }}
</div>
<div class="bookedRooms">
  <table>
      <tr>
          <th>Room Number</th>
          <th>Date</th>
          <th>Guest Number</th>
      </tr>
      <tr *ngFor="let bookedR of booked ">
          <td>{{ bookedR.roomId }}</td>
          <td>{{ bookedR.date }}</td>
          <td>{{ bookedR.guestId }}</td>
          <td><button (click)="info(bookedR)">Info{{ gCount() }}</button></td>
      </tr>
      <tr *ngFor="let bookedRloc of dbBookings ">
          <td>{{ bookedRloc.roomId }}</td>
          <td>{{ bookedRloc.date }}</td>
          <td>{{ bookedRloc.guestId }}</td>
          <td><button (click)="info(bookedRloc)">Info{{ gCount() }}</button></td>
      </tr>
  </table>
</div>
<hr>
<p>Guests:</p>
<div class="bookedGueat">
  <ol>
      <li *ngFor="let bookedG of guest">
          -- roomId: {{ bookedG.room }}
          -- date: {{ bookedG.date }}
          -- guestId: {{ bookedG.id }}
          -- guestName: {{ bookedG.name }}
      </li>
  </ol>
</div>
<hr>
<div class="bookedGueatL">
  <ol>
      <li *ngFor="let bookedGl of roomBookings">
          -- roomId: {{ bookedGl.room }}
          -- date: {{ bookedGl.date }}
          -- guestId: {{ bookedGl.id }}
          -- guestName: {{ bookedGl.name }}
      </li>
  </ol>
</div>
