<h1>Available Rooms</h1>
<mat-form-field>
  <input type="text" matInput name="inSearch" id="inSearch" placeholder="Search date:" value="{{ txbSearch  | date: 'yyyy/M/dd' }}" readonly>
</mat-form-field>
<div class="datePc">
  <mat-form-field>
      <input id="inRoomD" matInput [matDatepicker]="pickerA" placeholder="Choose a date" [(ngModel)]="txbSearch">
      <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
      <mat-datepicker #pickerA></mat-datepicker>
  </mat-form-field>
</div>
<div class="info">
    {{ roomInfo }}
</div>
<table>
    <tr>
        <th>Room Number</th>
        <th>Type</th>
        <th>Available</th>
        <th>Info</th>
    </tr>
    <tr *ngFor="let room of rooms">
        <td>{{ room.id }}</td>
        <td>{{ room.type }}</td>
        <td>{{ available(room.id) }}</td>
        <td *ngIf="available(room.id)"><a routerLink='/book/:bRoom=0,{{ room.id }},{{ txbSearchR() }},0'><button style="color: rgba(11,10,210,1)">Book Now{{ room.id }}</button></a></td>
        <td *ngIf="!available(room.id)"><button style="color: rgba(255,23,30,1)" (click)="infoRoom(room.id, false)">info{{ room.id }}</button></td>
    </tr>
</table>
