<header>
    <div class="menu">
        <nav>
            <ul>
                <li class="listR"><a routerLink="/">{{ appTitle }}</a></li>
                <li class="listR"><a routerLink="/book">Book a room</a></li>
                <li class="listR"><a routerLink="/rooms">Rooms Available</a></li>
                <li class="listR"><a routerLink="/booked">Booked rooms</a></li>
                <li class="listR"><a routerLink="/calendar">Calendar</a></li>
            </ul>
        </nav>
    </div>
</header>
