header {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
    background: #f54b94;
}

.btnV {
    display: inline;
}
.btnV:before {
    content: " | ";
    padding-right: 1.3em;
}
.btnV:nth-child(1):before {
    content: "  ";
    padding: 1.3em;
}

h3 {
  margin: 0 0 10px;
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}
