<header>
  <nav>
      <ul>
          <li class="btnV" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
              <a style="color: rgba(0,22,20,1)" routerLink="/#"> <<< Previous </a>
          </li>
          <li class="btnV" mwlCalendarToday [(viewDate)]="viewDate">
              <a routerLink="/#"><<< Today >>> </a>
          </li>
          <li class="btnV" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
              <a style="color: rgba(20,25,50,1)" routerLink="/#"> Next >>> </a>
          </li>
          <li class="btnV" (click)="view = 'month'" [class.active]="view === 'month'">
              <a routerLink="/#calendar"> Month </a>
          </li>
          <li class="btnV" (click)="view = 'week'" [class.active]="view === 'week'">
              <a style="color: rgba(10,25,15,1)" routerLink="/#calendar"> Week </a>
          </li>
          <li class="btnV" (click)="view = 'day'" [class.active]="view === 'day'">
              <a routerLink="/#calendar"> Day </a>
          </li>
      </ul>
  </nav>
</header>
<div class="btnVd" style="color: rgba(0,255,0,1)">
    <h3>{{ viewDate | calendarDate:(view +'ViewTitle'):'en':weekStartsOn }}</h3>
</div>
<hr>
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-day-view>
</div>
