@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body, fieldset, table {
    margin: 15px;
    padding: 2px;
    border: 2px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

input[type="button"]:hover,
	input[type="submit"]:hover,
	.button:hover,
	button:hover {
        background-color: #000066;
  }

hr {
		border: 0;
        border-top: solid 2px #0000cc ;
}


form.frmBook label:hover {
    top: 50%;
    color: blueviolet;
}

input:focus + label {
    background-color: aqua;
    left: 10px;
    top: -20px;
    bottom: 90%;
}

input:hover + label, output:hover {
    margin-bottom: 1px;
    border: 1px solid red;
    padding: 3px 2px;
    background-color: yellow;
    color: red;
    top: 80%;
}

input:focus {
    color: goldenrod;
}

form {
    width: 600px;
    margin: 2em auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 22px;
    border: groove 12px threedface;
}

fieldset {
    position: relative;
    margin: 12px;
    padding: 12px;
}

legend {
    padding: 2px;
}

form.frmBook output {
    color: blue;
}
